.home {
  background-color: #f2f2f2;
}

/* home header */
.home-header-bar {
  position: relative;
  z-index: 99;
}

.home-header-logo {
  width: 28px;
  height: 45px;
  margin: 0 10px;
  background: url(../images/logo-book-52.png) no-repeat center;
  background-size: 100% auto;
}

.home-header-search-inner {
  background-color: #f2f2f2;
  color: #bdbdbd;
  text-align: center;
  margin: 10px 12px 0 0;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}

.home-header-search-inner .ion-ios-search {
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px 0 0;
}

/* home slider */
.home .slider {
  width: 100%;
  overflow: hidden;
}

.home .slider .slider-slides {
  min-width: 100%;
}

.home .box {
  width: 100%;
  overflow: hidden;
}

.home .box img {
  display: block;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .home-top-slide {
  text-align: center;
}

.home .home-top-slide .slider-pager {
  position: relative;
  width: auto;
  top: -.26rem;
  display: inline-block;
}

.home .slider-pager .slider-pager-page {
  margin-right: 5px;
  border-radius: 4px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  opacity: .5;
}

.home .slider-pager .slider-pager-page.active {
  opacity: 1;
}

.home .slider-pager .slider-pager-page i {
  display: none;
}
