.home {
  background-color: #f2f2f2;
}

/* home header */
.home-header-bar {
  position: relative;
  z-index: 99;
}

.home-header-logo {
  width: 28px;
  height: 45px;
  margin: 0 10px;
  background: url(../images/logo-book-52.png) no-repeat center;
  background-size: 100% auto;
}

.home-header-search-inner {
  background-color: #f2f2f2;
  color: #bdbdbd;
  text-align: center;
  margin: 10px 12px 0 0;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}

.home-header-search-inner .ion-ios-search {
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px 0 0;
}

/* home slider */
.home .slider {
  width: 100%;
  overflow: hidden;
}

.home .slider .slider-slides {
  min-width: 100%;
}

.home .box {
  width: 100%;
  overflow: hidden;
}

.home .box img {
  display: block;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .home-top-slide {
  text-align: center;
}

.home .home-top-slide .slider-pager {
  position: relative;
  width: auto;
  top: -.26rem;
  display: inline-block;
}

.home .slider-pager {
  bottom: .1rem;
  height:auto;
}

.home .slider-pager .slider-pager-page {
  margin-right: 5px;
  border-radius: 4px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  opacity: .5;
}

.home .slider-pager .slider-pager-page.active {
  opacity: 1;
}

.home .slider-pager .slider-pager-page i {
  display: none;
}

/* home-course-category */
.home-course-category-wrap {
  background-color: #fff;
  position: relative;
  padding: 0 20px 0 0;
}

.home-course-category {
  width: 100%;
}

.home-course-category-list {
  white-space: nowrap;
  line-height: 46px;
  font-size: 14px;
  width: 100%;
  padding-left: 20px;
}

.home-course-category-list li {
  margin-right: 20px;
  display: inline-block;
}

.home-course-category-add {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 14px;
  width: 56px;
  height: 100%;
  text-align: right;
  background-image: linear-gradient(to left, #fff 0, #fff 60%, rgba(255, 255, 255, 0) 100%);
}

.home-course-category-add-link {
  display: inline-block;
  position: relative;
  margin-right: -14px;
  width: 44px;
  height: 100%;
}

.home-course-category-add-link:before, .home-course-category-add-link:after {
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -1px;
  width: 14px;
  height: 1px;
  background: #777;
  content: "";
}

.home-course-category-add-link:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
